baseURL = "https://mobert.xyz/"
languageCode = "en-US"
title = "mobert.xyz"
theme="anubis2"

[pagination]
pagerSize = 5

[params.author]
name = "Moritz Ebert"
email  = "hello@mobert.xyz"
location = "Frankfurt"
avatar = "https://avatars.githubusercontent.com/u/96344384?v=4"

[params]
description = "Welcome to my blog"
dateFormat = "2 Jan 2006"
paginationSinglePost = true
locale = "en-us"

[params.anubis2]
    hideFooterAttribution = true # hide "Powered by Hugo, theme" in footer
    enableMathGlobally = false # MathJax (default is false)
    enableCopyCodeButton = true
    enableSummary = true # the summary is the preview of the post, if you disable it, the post will be shown only with the title.
    enableReadMoreButton = true
    enableRssIcon = true
    enableColorThemeSwitcher = true
    colorTheme = "auto"
    openInNewTab = true # open links in new ta
    tocWordCount = 100 # 0: disable toc. N: show toc if the post has more than N words.
    readNextPosts = 2 # 0: disable this feature. 1: show 1 related posts. N: show N related posts.

    ## Social Icons
    socialIcons = [
        { id = "github", url = "https://github.com/moritzebert/mobert-xyz" },
        { id = "linkedin", url = "https://www.linkedin.com/in/moritz-ebert-31b98625b/" },
        { id = "email", url = "mailto:hello@mobert.xyz" },
        #{ id = "instagram", url = "#" },
        #{ id = "x", url = "#" }
    ]

    [params.anubis2.services]
        [params.anubis2.services.giscus]
            # Giscus Comment System https://giscus.app/
            repo        = "moritzebert/mobert-xyz"
            repoId      = "R_kgDOPSUr3Q"
            category    = "General"
            categoryId  = "DIC_kwDOPSUr3c4CtdVC"
            dataMapping = "pathname"
            lazyLoad    = false

[[menu.main]]
identifier = "home"
name = "Home"
url = "/"
weight = 1

[[menu.main]]
name = "Posts"
identifier = "posts"
url = "/posts/"
weight = 2

[[menu.main]]
identifier = "tags"
name = "Tags"
url = "/tags/"
weight = 3

[markup.goldmark.renderer]
unsafe = true # Enable unsafe mode to have a better experience

[markup.highlight]
anchorLineNos      = false
codeFences         = true # tested with true and false. Both work.
noClasses          = true # If you run with markup.highlight.noClasses=false in your site configuration, you need a style sheet.
style              = 'catppuccin-frappe' # Find more style at here: https://swapoff.org/chroma/playground/
tabWidth           = 4